@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700;900&display=swap');

body{
    --text: #000;
    --bg: #fff;
    --index: blue;
    --gray: gray;
    overflow-x: hidden;
    background: var(--bg);
    color: var(--text);
    font-family: 'Montserrat', sans-serif;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: var(--text);
    text-decoration: none;
}

textarea, button, input{
    border: 0;
    outline: 0;
    color: var(--text);
    border: 1px solid var(--line);
}

h2{
    text-align: center;
    color: blue;
}




/* menu */

.menu{
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}
