@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700;900&display=swap');

body{
    --black: #000;
    --white: #fff;
    --index: blue;
    --gray: gray;
    overflow-x: hidden;
    background: var(--bg);
    color: var(--text);
    font-family: 'Montserrat', sans-serif;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    user-select: none;
    outline: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    width: 0px;
    background: rgba(0, 0, 0, 0.0);
}

a{
    color: var(--text);
    text-decoration: none;
}

textarea, button, input{
    border: 0;
    outline: 0;
    color: var(--text);
    border: 1px solid var(--line);
}

h2{
    text-align: center;
    color: var(--index);
}




/* menu */

.menu{
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_items{
    position: relative;
    background-color: var(--black);
    border-radius: 100px;
    padding: 5px;
}

.menu a{
    display: inline-block;
    padding: 10px 20px;
    mix-blend-mode: difference;
    color: var(--white);
    position: relative;
    z-index: 2;
}

.menu_item_active{
    height: calc(100% - 10px);
    background-color: var(--white);
    position: absolute;
    border-radius: 100px;
    transition: ease-out 0.4s;
    z-index: 1;
}


@media screen and (max-width: 900px){

    /* menu */

    .menu{
        bottom: 25px;
    }

    .menu a{
        display: inline-block;
        padding: 10px 15px;
    }
}